{% form_theme form _self %}

{% block happyr_birthday_widget %}
    {% spaceless %}
        <div class="happyr_birthday_widget" {{ block('widget_container_attributes') }}>
            {{ form_widget(form.year) }}
            {{ form_widget(form.month) }}
            {{ form_widget(form.day) }}
        </div>
    {% endspaceless %}
{% endblock %}
